
<html lang="en">
<%- include("./head.ejs") %>
<body>
    <%- include("./nav.ejs") %>
    <ul>
      <li class ="category_list"><a href="/blogs/game"> game</a></li>
      <li class ="category_list"><a href="/blogs/tech"> tech</a></li>
    </ul>

</body>
<%- include("./footer.ejs")  %>
</html>