<nav>
  <div class="site-title">
    <a href="/"><h1>Gamma blog</h1></a>
    <p>A gamma Site</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
    <li><a href="/blogs/category">category</a></li>
  </ul>
</nav>